* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "miFuente";
  src: url("../fuentes/arial.ttf");
}

html{
  font-family: miFuente;
}

body{
  background-color: azure;
}

.contenedorGeneral{
  border: 1px solid silver;
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.titulo{
  flex: 100%;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

p{
  margin: 0;
  padding: 0;
}

hr{
  color: silver;
  margin: 5px 0;
}

.formularioIngreso{
  background: yellow;
  flex: 40%;
}
.listadoEmpleados{
  background-color: rgb(176, 247, 105);
  flex: 50%;
}