* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "miFuente";
  src: url("../fuentes/arial.ttf");
}

html {
  font-family: miFuente;
}

body {
  background-color: azure;
}

.contenedorGeneral {
  border: 1px solid silver;
  width: 70%;
  height: auto;
  margin: 0 auto;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.titulo {
  flex: 100%;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

p {
  margin: 0;
  padding: 0;
}

hr {
  color: silver;
  margin: 5px 0;
}

.formularioIngreso {
  flex: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  color: black;
  font-weight: bold;
}

.contenedorInputs {
  display: grid;
  place-items: center;
  border: 1px solid silver;
  padding: 20px;
  border-radius: 10px;
  background: rgb(135, 189, 252);
}

input {
  margin-bottom: 12px;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  padding: 3px;
}

button {
  padding: 6px;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: #d4d3d3;
}

.listadoEmpleados {
  flex: 50%;
}

.spanEmpleadosRegistrados {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
/* --------------------------------------------------------------------------------------------- */
/* Versión Mobile */
/* --------------------------------------------------------------------------------------------- */

@media (width<=600px) {
  .contenedorGeneral {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 10px;
  }

  .listadoEmpleados {
    flex: 50%;
  }
  
  .spanEmpleadosRegistrados {
    display: flex;
    flex-wrap: wrap;
  }

  .spanEmpleadosRegistrados > *{
    flex-basis: 48.5%;
  }
}
